<mat-card class="card">
    <mat-card-title>
        <h2>Current Deals</h2>
    </mat-card-title>
    <mat-card-content>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8"> 
    
            <!-- Title column -->
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef> Deal </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="bar">
                <mat-header-cell *matHeaderCellDef> Bar </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.bar}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="drink">
                <mat-header-cell *matHeaderCellDef> Drink </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.drink}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="body">
                <mat-header-cell *matHeaderCellDef> Notes </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.body}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
    </mat-card-content>
</mat-card>